/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  padding: 80px 140px 0 140px;
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.website-logo {
   font-size:18px;
}


.profile {
  display: flex;
  flex-direction: row;
  gap:15px;
}

.user-system-container {
  width: 100%;
}

.user-system-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.user-system-flex {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}
.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

}
.logout > a {
   text-decoration-skip-ink: auto;
  color: currentColor;
}
  .product-grid-container {
            display: grid;
            grid-template-columns: repeat(4, 0.5fr); 
            gap: 20px; 
            padding: 20px;
            margin-left:-10px;
            margin-top: 45px;
        }
      .product-grid-item {
    border: 1px solid #ddd; 
    padding: 20px;
    text-align: center;
    width: 290px; 
    gap: 10px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-grid-item img {
    max-width: 100%; 
    max-height: 70%; 
    object-fit: contain; 
}

.product-grid-item h3, .product-grid-item h4,
.product-grid-item p {
    margin: 0; /* Added this to remove default margins */
}

.product-grid-item .product-price {
  font-size: 20px;
}

.right-side-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.mini-header-cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #4a3d24;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

/* Shoping cart */


.checkout-container {
    background: white;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.checkout-container h2, .checkout-container h3 {
    color: #333;
}

.checkout-container form {
    display: grid;
    gap: 20px;
}

.checkout-container input[type="text"], button[type="submit"] {
    padding: 10px;
    width: 95%;
    margin: 5px 0;
    box-sizing: border-box;
}

.checkout-container button[type="submit"] {
   background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.checkout-container button[type="submit"]:hover {
   background-color: #286090;
    border-color: #204d74;
    color: white;
    border-radius: 6px;
}

img.card-network-logo {
     height: 30px; 
    vertical-align: middle;
    margin-right: 10px;
}

.card-network-label 
{
    display: block;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.checkout-container .order-summary h3 {
 padding-bottom: 10px;
}

.checkout-container .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.checkout-container .product-info {
    flex-grow: 1;
}

.checkout-container .product-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.checkout-container .product-price {
    font-size: 1.1em;
}

.checkout-container .quantity-modify-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}

.checkout-container .remove-item {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.checkout-container .product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
}

.checkout-container .quantity-modify {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin: 0 5px;
    border: none;
    background: none;
}

.checkout-container .quantity {
    font-size: 16px;
}

.place-order-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
     font-weight: 500;
}

.total-price {
    margin-left: 5px; 
   font-weight: 500;
}

.payment-choice {
  display: flex;
  gap:15px;
}


.profile-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profile-info, .order-history {
    margin-bottom: 20px;
}

.profile-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.profile-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.profile-container th {
    background-color: #f2f2f2;
}

.profile-container tr:nth-child(even) {
    background-color: #f9f9f9;
}